NotPublic
Illustrator
.idea
code/figures/qc
Manuscript

.DS_Store
NewFiles/
Manuscript/*
Figures/Figure3/old_*
remove_bg.py
Paper_Figures/*/*.ai
Paper_Figures/*/*.pdf
scripts/Experiment_Analysis
*.xml
